/* CSS Document */

body{
	--primary-color: #036c8b;
	--secondary-color: #5dcdcb;
	--panel-background-color: rgba(255, 255, 255, 80%);
	--main-background-color: #9de5d5;
	margin: 0;
	padding: 0;
	/* background-attachment: fixed;
	background-origin: border-box;
	background-size: cover; */
	display: grid;
	justify-items: center;
	background-color: var(--main-background-color);
}
header {
	box-sizing: border-box;
	padding: 0;
	width:100%;
	margin: 0;
	background-color: white;
	border-bottom: solid 2px var(--primary-color);
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
header p {
	text-align: right;
	margin: 1rem;
}
.contact {
	padding: 1rem inherit;
	display:flex;
	flex-direction: column;
	height: fit-content;
	align-items: center;
}
.contact p {
	width: fit-content;
}
nav {
	box-sizing: border-box;
	border-bottom: solid 2px var(--primary-color);
	width:100%;
	margin:0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	background-color: white;
}
nav a {
	color: black;
	text-decoration: none;
	text-align: center;
	flex:1;
	min-width: 5em;
	display: block;
	padding-top: .4em;
	padding-bottom: .5em;
	font-family: "Montserrat", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
}
nav a:hover, .currpage {
	color: var(--primary-color);
}
nav a::before {
	background-color: var(--primary-color);
	content: ' ';
	height: .1em;
	width: 60%;
	margin-left:20%;
	display: block;
	border-radius: 10px;
	transform: scalex(0);
	opacity: 0;
	transition: 100ms;
	margin-bottom: .2em;
}
nav a:hover::before, nav a.currpage::before {
	transition:150ms;
	opacity: 1;
	transform: scalex(1);
}
article {
	box-sizing: border-box;
	width:80%;
	/* margin-top: 1em;
	margin-left: 5%; */
	padding: 3rem;
	background-color: var(--panel-background-color);
	/* border-radius: 1em; */
	/* margin-bottom: 2em; */
	max-width: 60em;
}
article iframe {
	width: 80%;
	margin:1rem 10%;
}
footer {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	background-color: var(--secondary-color);
	position: sticky;
	margin:0;
	bottom:0;
	padding:0;
}
footer p {
	position: relative;
	width:100%;
}
p {
	font-family: "Klee One", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 500;
	font-size: 1rem;
	float: none;
}
h1{
	font-family: "Merienda", cursive;
	font-size: 2.5rem;
	margin: 1rem;
	text-align: center;
}
article h2 {
	font-family: "Montserrat";
	font-weight: 400;
	text-align: center;
	font-size: 1.8rem;
}
article h3 {
	text-align: center;
	font-family: "Montserrat", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
.map {
	width:80%;
	margin-left:10%;
	border: solid 1px darkgreen;
	height: 20em;
	margin-bottom: 2em;
	object-fit: cover;

}
hr {
	background-color:var(--primary-color);
	border-color:var(--primary-color);
}

.headimg {
	margin: 1em 20%;
	width: 60%;
	height: min-content;
	float: none;
	display:flex;
	justify-content: center;
	flex-direction: row;
}
.headimg figcaption {
	font-size: 150%;
	text-align: center;
	font-family: Constantia,
	"Lucida Bright",
	"DejaVu Serif",
	Georgia,
	"serif";

}
.headimg img {
	/* object-fit: cover; */
	max-width: 80%;
	max-height: 600px;
	border-radius: .5rem;
}

.document {
	width: 90%;
	aspect-ratio: 4 / 3;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 0;
	margin-right: 0;
}

/* media queries*/
@media (max-width: 500px) {
	nav a {font-size: 1.2rem}
	header h1 {font-size: 2rem;}
	.headimg img {
		width: 100%;
		margin: 0;
		padding: 0;
		border-radius: .5rem;
	}
	.headimg {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	article {
		width: 85%;
		padding: 2rem;
	}
}
	/*
@media (min-width: 1150px) {
	.headimg {
		width: 600px;
	}
} */
